.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 466px;
    height: 466px;
    background-color: #1B3C53;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 233px;
}

.titleText {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: darkred;
}

.descText {
    font-size: 16px;
    text-align: center;
    color: #D2C1B6;
    margin-bottom: 32px;
    width: 80%;
}

.text {
    font-size: 18px;
    color: #D2C1B6;
}

.arrow {
    width: 40px;
    height: 40px;
    margin: 0 12px;
}

.text2 {
    font-size: 16px;
    color: #D2C1B6;
    margin-top: 8px;
}

@keyframes shrinkCenter {
    0% {

        opacity: 1;
        width: 466px;
        height: 466px;
        filter: blur(0px);
        transform: translateX(0px);

    }

    100% {

        opacity: 0;
        width: 0;
        height: 0;
        filter: blur(10px);
        transform: translateX(233px);

    }
}
